.app-content-wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: white !important;
  min-height: calc(100vh - 120px);
  position: relative;
  z-index: 1;
}

.app-content-inner {
  height: 480px;
  background-color: #041e42;
}
.app-content-inner-content {
  /* width: 85%; */
  margin: 0 auto;
  width: 1300px;
  padding-top: 50px;
  display: flex;
}
.app-content-inner-content-img {
  width: 600px;
  /* width: 100%;
  height: 100%; */
  height: 780px;
}
.app-content-inner-content-left {
  flex: 1;
}
.app-content-inner-content-right{
  flex: 1;
}
.app-content-inner-content-right-text {
  height: 60%;
}
.app-content-inner-content-right-bottom {
  display: flex;
}
.app-content-inner-content-left-bottom-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: 12px;
}
.app-content-inner-content-right-bottom-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}
.app-content-inner-content-right-text-title {
  font-size: 36px;
  color: white;
}
.app-content-inner-content-right-text-description {
  font-size: 16px;
  color: white;
  margin-top: 20px;
}
.app-content-inner-content-right-bottom {
  height: 50%;
}
.content-bottom-title {
  font-size: 14px;
  color: #041e42;
}
.content-bottom-description {
  font-size: 16px;
  color: #101820;
  margin-top: 20px !important;
}
.content-bottom-heading {
  font-size: 24px;
  font-weight: 400;
  margin-top: 20px !important;
}
.content-bottom-button {
  background-color: #005eb8;
  width: 160px;
  margin-top: 20px !important;
}
.content-bottom-button:hover {
  background-color: #041e42;
}